:root {
    --white-color: #ffffff;
    --light-grey-color: #EAE8E8;
    --light-green-color: #1ecc78;
    --green-color: #0cb765;
    --red-color: #EB1D27;
    --blue-color: #4f78a4;
    --dark-red-color: #d31017;
    --dark-grey-color: #363636;
    --black-color: #333030;
    --deep-black-color: #000000;
  }
  /* Google font */
  @import url('https://fonts.googleapis.com/css2?family=Lexend+Peta&display=swap');

.forgetPasswd_form{
    box-shadow: inset 0px 143px 108px -18px rgba(0, 0, 0, 0.89);
    display: flex;
    justify-content: center;
    height: 100vh;
}
.container{
    display: flex;
    flex: 0 1 95%;
}
.form_left{

    background-size: contain;
    background-position: center top;
    background-repeat: no-repeat;
    flex: 0 1 50%;;
    padding: 100px;
    border-radius: 80px;
}
.form_right{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    flex: 0 1 50%;
}

.form_input{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    height: 500px;
    box-sizing: border-box;
}

.form_input .inputBox label{
    font-family: 'Lexend Peta', sans-serif;
}
.form_right h2{
    font-family: 'Lexend Peta', sans-serif;
    color:var(--blue-color)
}
.form_input .inputBox input{
    width: 400px;
    color: var(--blue-color);
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
    border: none;
    background: transparent;
    border-bottom: 1px solid var(--blue-color);
    outline: none;
    cursor: pointer;
    padding-top: 10px;
}
button{
    font-size: 15px;
    border-radius: 5px;
    padding: 10px;
    background-color: var(--blue-color);
    color: var(--light-grey-color) ;

}
   
button:hover{
    background-color: var(--red-color);
    color: var(--white-color);
    cursor: pointer;
}

.linkContainer{
    height: 50px;
    margin-top: 35px;
    padding-top: 15px;
    border-top: 1px dashed var(--light-grey-color);
}
.simpleLink {
    color: var(--blue-color);
    text-decoration: none;
    font-size: 12px;
  }
  
  .simpleLink:hover {
    color: var(--red-color);
  }

@media screen and (max-width: 1195px){
    .form_left{
        display: none;
    }
    .form_right,
    .container {
        flex: 0 1 100%;
    } 
}  