:root {
    --white-color: #ffffff;
    --light-grey-color: #EAE8E8;
    --light-green-color: #1ecc78;
    --green-color: #0cb765;
    --red-color: #EB1D27;
    --blue-color: #4f78a4;
    --dark-red-color: #d31017;
    --dark-grey-color: #363636;
    --black-color: #333030;
    --deep-black-color: #000000;
  }
  /* Google font */
  @import url('https://fonts.googleapis.com/css2?family=Lexend+Peta&display=swap');

.toolbar{
    background-color:var(--dark-grey-color);
    width: 100%;
    position: fixed;
    top:0;
    left: 0;
    height: 60px;
    z-index: 200;
} 

.toolbar__nav{
    display: flex;
    align-items: center;
    height: 100%;
    flex-basis: 95%;
}
.space{
    flex-grow: 1;
}

.toolbar__logo h2{
    text-decoration: none;
    font-size: 1.5rem;
    margin-left: 1.5rem;
    color: white;
    font-family: 'Lexend Peta', sans-serif;

}
.toolbar__items {
    display: flex;
    flex-direction: row;
    /* margin-top: 10px; */
    color:white;
    text-decoration: none;
    list-style: none;
}

.icon {
    color: white;
}

@media screen and (max-width: 1195px){
    .toolbar__items img{
        display: none;
    }
}
@media screen and (min-width:1195px){
    .buttonShow{
        display: none;
    }
}