.sideBar{
    max-width: 400px;
    width: 40%;
    height: 100vh;
    position: fixed;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5) ;
    background-color: white;
    z-index: 300;
}

.sideBar ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;

}
.sideBar a{
    text-decoration: none;

}

.sideBar a:hover,
.sideBar a:active{
    color: #fa923f;

}
